In [3]:
import numpy as np
import matplotlib.pyplot as pp
import pandas as pd
import seaborn

In [5]:
matplotlib inline

In [4]:
print('21')

21

In [6]:
import zipfile

In [10]:
zipfile.ZipFile('File/names.zip').extractall('File/names')
# uncompress the zip archive into File/name directory

In [13]:
open('File/names/yob2015.txt', 'r').readlines()[:5]

['Emma,F,20455\n',
 'Olivia,F,19691\n',
 'Sophia,F,17417\n',
 'Ava,F,16378\n',
 'Isabella,F,15617\n']

In [14]:
names2015 = pd.read_csv('File/names/yob2015.txt', names = ['Name', 'Sex', 'Babies'])

In [15]:
names2015.head()

       Name Sex  Babies
0      Emma   F   20455
1    Olivia   F   19691
2    Sophia   F   17417
3       Ava   F   16378
4  Isabella   F   15617

In [5]:
all_years = []